.circle {
    position: relative;
    border: 1px solid black;
    padding: 0;
    margin: 1em auto;
    width: 25em;
    height: 25em;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    background-color: #808080;
    z-index:0;
   
}
.circle-low {
    position: absolute;
    border: 1px solid black;
    padding: 0;
    margin: 1em auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    transform: translate(115%,100%);
    
}

.circle-middle {
    position: absolute;
    border: 1px solid black;
    padding: 0;
    margin: 1em auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    transform: translate(30%,25%);
    
}
.circle li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    margin: auto;

}
.text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 20px;
}
/*.text:hover{
    color:aqua;
}*/
.circle li:first-child {
    transform: rotate(0deg) skewY(-60deg);
    border: 1px solid black;
}

.circle li:nth-child(2) {
    transform: rotate(60deg) skewY(-60deg);
    border: 1px solid black;
}

.circle li:nth-child(3) {
    transform: rotate(120deg) skewY(-60deg);
    border: 1px solid black;
}

.circle li:nth-child(4) {
    transform: rotate(180deg) skewY(-60deg);
    border: 1px solid black;
}

.circle li:nth-child(5) {
    transform: rotate(240deg) skewY(-60deg);
    border: 1px solid black;
}

.circle li:nth-child(6) {
    transform: rotate(300deg) skewY(-60deg);
    border: 1px solid black;
}

li:first-child .text {
    background: white;
}

li:nth-child(2) .text {
    background: white;
}

li:nth-child(3) .text {
    background: white;
}
li:nth-child(4) .text {
    background: white;
    
}

li:nth-child(5) .text {
    background: white;
}

li:nth-child(6) .text {
    background: white;
}

.dot1 {
  
    height: 25px;
    width: 25px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
    transform: translate(0px,0px);
    z-index:20;
}
.dot2 {
    height: 25px;
    width: 25px;
    background-color: #ff6a00;
    border-radius: 50%;
    display: inline-block;
    transform: translate(0px,75px);
    /* transform: translate(0px,0px);*/
    z-index: 20;
}
.dot3 {
    height: 25px;
    width: 25px;
    background-color: #4cff00;
    border-radius: 50%;
    display: inline-block;
    transform: translate(-3px,135px);
    /*transform: translate(0px,0px);*/
    z-index: 20;
}
/*.dot1:hover {*/
    /*display: block;*/
    /*background-color:black;
}*/

/*.dot2:hover  {*/
   /* display: block;*/
    /*background-color: cyan;
}*/

/*.dot3:hover  {*/
    /*display: block;*/
    /*background-color: black;
}*/

.flexer{
    display:flex;
    width:50%;
    object-fit:contain;

}
.Main{
    display:flex;
}

.SummaryBox {
    width: auto;
    padding: 16px;
    text-align: center;
    align-items: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    /* margin-left: 25%;*/
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    height: auto;
    object-fit:contain;
}

.Body{
    display:flex;
    object-fit:contain;
}


.hoverdata{
    padding: 10px;
    object-fit:contain;
}
/*.text .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;*/
    /* Position the tooltip text - see examples below! */
    /*position: absolute;
    z-index: 10;
}*/

.dot1 .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
    transform: rotate(30degree);
}

.dot2 .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
    
}

.dot3 .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
}

.dot1:hover .tooltiptext {
    visibility: visible;
    z-index:10;
}

/*.dot2:hover .tooltiptext {
    visibility: visible;
}

.dot3:hover .tooltiptext {
    visibility: visible;
}*/
/*.dot1.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;*/
    /* Position the tooltip */
    /*position: absolute;
    z-index: 1;
}*/